@media screen and (max-width:767px){
	.app-btn{font-size:12px;padding:6px 10px}
	/*.recipes{flex:0 0 100%;}*/
	.recipe-rating{text-align: left;}
}
@media screen and (min-width: 768px)  and (max-width:991px){
	/*.recipes{flex:0 0 50%;}*/
}
@media screen and (max-width:400px){
	.fav-details{flex-direction: column;}
}