body{padding: 0;margin:0;overflow-x: hidden;font-size: 16px;font-family: 'Roboto', sans-serif;font-weight: 400;color:#222;background: #F5F5F5}
p{margin-bottom: 5px}
a{color: #000;text-decoration: none;outline: 0}
a:hover,a:visited,a:active,a:focus{text-decoration: none;outline: 0}
.container-fluid{padding-right: 0;padding-left: 0;margin-right: auto;margin-left: auto;}
h1.title{background: linear-gradient(45deg, #2EC286, #46C26E);color: #fff;text-align: center;padding:20px 0;font-size: 2rem}
.sub-title{font-size: 1rem;color: #000;font-weight: 600}
.favourites i{font-size: 2rem;color:#adadad;}
.app-btn{background: #2EC286;color: #fff;font-size: 14px;border: 1px solid #2EC286;line-height: 1;text-transform: uppercase;margin-bottom: 10px;padding: 8px 15px}
.app-btn:hover{background: transparent;border:1px solid #2EC286;color: #000;}
.fav-dishes{flex-wrap: wrap;flex: 0 0 25%;padding: 10px}
.fav-details{padding: 10px 0}
.fav-price-name p{font-size: 14px; color: #000;font-weight: 600;line-height: 1.2;}
.owl-stage{padding-left: 0 !important}
.category{background: #fff; padding: 10px 15px;box-shadow:0px 0px 5px 0px #ccc;margin:10px;}
.cat-items{flex: 1;justify-content: space-evenly}
.cat-items img{width: 50px !important;margin-right: 15px;}
.cat-items p{font-weight: 600}
.fav-img{box-shadow: 0 0 10px 0px #ccc;border-radius: 0.25rem;}
.category:hover{border-bottom: 2px solid #2EC286}
.category.active{border-bottom: 2px solid #2EC286}
.recipes .fav-details{background: #fff; padding: 20px 10px;box-shadow: 0 0 10px 0px #ccc;min-height: 100px;}
.recipes .app-btn{margin-left:10px;}
.recipes .fav-price-name{flex: 1}
.search input{background: transparent;border: none;border-bottom: 1px solid #ccc;flex: 1;padding:10px 30px;position: relative;font-size: 14px}
.search span{position: absolute;left: 0;top: 0;font-size: 30px;color: #999;margin-left: 10px;}
.search input:active,.search input:focus,.search input:hover{border-bottom: 1px solid #2EC286;outline: 0}
.filter{font-size: 30px}
.cat-filter{position: sticky;top: 0;z-index: 10;background: #f5f5f5;}
#cart-count{position: absolute;right: 26px;top:15px;font-weight: 600;}
.title a{color: #fff;position: absolute;left: 9%}
.title a:hover{color:#eee;transform: scale(1.2);}
.cart-btns button{margin-bottom: 0}
.cart-btns span{padding: 7px 20px;background:#2EC286;color: #fff}
.recipe-info{padding-bottom: 30px;border-bottom: 2px solid #eee}
.recipe-details p{font-size: 20px;color: #999}
.recipe-content p{font-size: 20px;color: #999}
.recipe-rating{text-align: right;}
.recipe-rating .mdi-star{color:#d6d60b;font-size:20px}